
main{
    display: grid;
    justify-content: center;
    grid-template-columns: 14% 21% 21% 21% 21%;
    gap: 2vw;
    height: 100vh;
    
}
 section {
    height: 80vh;
    margin-top: 5%;
    margin-right: 15%;
    grid-column: 3/6;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    align-items: center;
    gap: 2vw;
    overflow-y: scroll;
    background-color: rgba(255,255,255,0.2);
    
}
.sidebar{
    margin-top: 35%;
    margin-right: 10%;
    height: 60vh;
    grid-column: 2/3;
    background-color: rgba(255,255,255,0.2);
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
 