main {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 14% 21% 21% 21% 21%;
  gap: 2vw;
  height: 100vh;
  font-family: "Lobster", cursive;
}
.cards {
  height: 80vh;
  margin-top: 5%;
  margin-right: 15%;
  grid-column: 3/6;
  grid-row: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
 
}

.card {
  margin-top: 3%;
  width: 27%;
  min-height: 20vw;
  max-height: fit-content;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding-bottom: 1vw;
  text-align: center;
  opacity: 0;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
 
  animation: show 0.5s 0.5s linear forwards;
  -webkit-animation: show 0.5s 0.5s linear forwards;
  
}
.card-img {
  grid-column: 1/-1;
  grid-row: 1;
}
img {
  width: 100%;
  height: 13vw;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}
.card-name {
  font-size: 1.2vw;
  color: rgb(103, 190, 210);
  margin-bottom: 4%;
}
.card-info {
  margin: 0 auto;
  overflow: hidden;
  font-size: 1vw;
  height: 6vw;
  width: 80%;
}
.cart-btn {
  margin-top: 5%;
  width: 5.5vw;
  height: 1.7vw;
  font-size: .8vw;
  border: none;
  background-color: rgb(255, 111, 0);
  color: white;
  font-weight: bold;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
  cursor: pointer;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
.cart-btn:hover {
  box-shadow: inset 0px 0px 15px rgb(182, 80, 3);
  font-size: .7vw;
}
.sidebar {
  margin-top: 35%;
  margin-right: 10%;
  height: 60vh;
  max-height: fit-content;
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: .5vw;
  font-size: 1.4vw;
  border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  -o-border-radius: 15%;
}
.search{
  margin-bottom: 18%;
}
.select {
  margin-top: 20%;
  width: 12vw;
  height: 1.3vw;
  outline: none;
  border: none;
  caret-color: rgb(0, 123, 255);
  font-size: 1vw;
  font-weight: bold;
  color: #4896b3;
  border-radius: 7%;
  -webkit-border-radius: 7%;
  -moz-border-radius: 7%;
  -ms-border-radius: 7%;
  -o-border-radius: 7%;
}

.sidebar-title {
  font-size: 2vw;
 
}
.sidebar-pizza-logo {
  width: 2.5vw;
  height: 2.5vw;
  background-image: url("../pizza.png");
  background-size: cover;
}
.cart-fa {
  font-size: 3vw;
  cursor: pointer;
}
.cart-fa::after {
  position: absolute;
  left: 45%;
  top: 10%;
  content: attr(data-icon);
  font-size: 1.5vw;
  color: rgb(247, 48, 13);
}
.sidebar div {
  transform: rotateX(90deg);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  animation: show-letters 1s 1s linear forwards;
  -webkit-animation: show-letters 1s 1s linear forwards;
}
@keyframes show-letters {
  to {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
  }
}
.sidebar-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -25%;
  top: -17%;
  width: 5vw;
  height: 5vw;
 
 
}

