main {
    display: grid;
    justify-content: center;
    grid-template-columns: 14% 21% 21% 21% 21%;
    gap: 2vw;
    height: 100vh;
    font-family: "Lobster", cursive;
}
section {
    height: 80vh;
    margin-top: 5%;
    margin-right: 15%;
    grid-column: 3/6;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: center;
    column-gap: 2vw;
    row-gap: 2vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
}
.sidebar {
    margin-top: 35%;
    margin-right: 10%;
    height: 60vh;
    grid-column: 2/3;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.link {
    text-decoration: none;
}
.card {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    margin-top: 3vw;
    opacity: 0;
    min-height: 30vw;
    max-height: fit-content;
    padding-bottom: 3%;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    animation: show 0.5s linear forwards;
    -webkit-animation: show 0.5s linear forwards;
}
.card-img {
    grid-row: 1;
    grid-column: 1/-1;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.card-title {
    grid-row: 2;
    grid-column: 1/-1;
    font-size: 1.3vw;
    color: rgb(46, 97, 107);
}

.pizza-info {
    grid-row: 3;
    grid-column: 1/-1;
    height: 1.5vw;
    font-size: 1.1vw;
    font-weight: bold;
    color: rgb(248, 12, 107);
}
.plusAmount {
    width: 2vw;
    grid-row: 4;
    grid-column: 2/3;
    height: 1.5vw;
    border: none;
    background-color: tomato;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.amount {
    grid-row: 4;
    grid-column: 3/4;
    color: rgb(7, 7, 51);
    font-size: 1.3vw;
}
.minusAmount {
    width: 2vw;
    grid-row: 4;
    grid-column:4/5;
    height: 1.5vw;
    border: none;
    background-color: rgb(30, 111, 241);
    font-size: 1vw;
    font-weight: bold;
    color: white;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
.prepare {
    height: 2vw;
    grid-row: 5;
    grid-column: 3/4;
    border: none;
    background-color: rgb(39, 105, 131);
    font-size: 1vw;
    font-weight: bold;
    color: white;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
}
