.pizza-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  border-bottom: 2px solid #ff9904;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.image-wrapper img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.text-wrapper {
  width: 30rem;
  text-align: left;
}

.ingredients {
  display: flex;
  overflow: auto;
}

.ingredients p {
  margin-right: 1rem;
  font-style: italic;
}

.pizza-info {
  text-align: justify;
  font-size: 0.9rem;
}

.delete-icon {
  height: 2rem;
  width: 1.5rem;
  cursor: pointer;
}

.delete-icon:hover {
  color: red;
}
select {
  width: 5rem;
  height: 2rem;
}
input {
  width: 2.2rem;
  text-align: center;
  height: 1.8rem;
}

input,
select {
  outline: none;
  border: none;
  color: rgb(255, 89, 0);
  font-weight: bold;
  cursor: pointer;
}
